html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	overflow-y: scroll;
	font-family: Overpass;
	background: linear-gradient(180deg, #544e6b 0%, #242a50 74.78%),
		linear-gradient(0deg, #29284d, #29284d);
}

a {
	color: white;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

h1 {
	color: white;
	font-size: 36px;
	font-family: Righteous;
	position: relative;
	z-index: 10;
}
h2 {
	color: white;
	font-size: 18px;
	font-family: Righteous;
	position: relative;
	z-index: 10;
}

h3 {
	color: white;
	font-size: 16px;
	font-weight: 400;
	font-family: Overpass;
	position: relative;
	z-index: 10;
}

p {
	color: white;
	position: relative;
	font-size: 16px;
	font-family: Overpass;
	z-index: 10;
}
